
:root{
  --clr-primary:#4a5568;
  --clr-accent:#718096;
  --background-color:rgba(226,232,240,1);
  --btn-primary:#4c51bf;
  --gray-200:#edf2f7;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background-color);
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

p,h1,h2,h3,h4{
  margin: 0;
  padding: 0;
  /* font-weight: normal; */
}
span{
  margin: 0;
  padding: 0;
}

sup{
  font-weight: normal;
  font-size: 0.8rem;
}
.container{
  margin-inline: 0.5rem;
}

.search-box{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}


.primary-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 0.5rem;
}

.pages{
  display:none
}

.vocab{
  font-size: 2.5rem;
}

.community{
  margin-top: -0.8rem;
  margin-left:0.5rem;
  font-size: 0.8rem;
}
.logo{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.search-component{
  width: 100%;
  margin-bottom: 1rem;
}
.search-box input{
  width:80%;
  padding: 0.6rem 0;
  border: none;
  border-radius: 1rem;
}


button{
  cursor: pointer;
  border: none;
}
.btn-primary{
  color: white;
  padding: 0.7rem;
  width:20%;
  background-color: var(--btn-primary);
}

.box{
  background-color: var(--clr-accent);
  padding: 0.5rem 1rem;
  width: max-content;
  /* border-radius: 25px; */
  color: white;
}

.search-lang ul{
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.card{
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}

.card-head{
  color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.post-language{
  display: inline-block;
  border-radius: 5rem;
  margin-top: 0.2rem;
}

.box-shadow{
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
}

.card-body{
  color: var(--clr-accent);
  margin: 1rem 0;
}


.card-footer{
  margin-top: 1rem;
  color: var(--clr-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view__post > a{
  color: var(--btn-primary);
}

.profile{
  display: flex;
  flex-direction: column;
}

.extreme-right{
  display: flex;
  gap: 1rem;
  align-items: center;
}

hr{
  border: none;
  border-top: 1px solid var(--gray-200);
}

.pages  a{
  color: var(--clr-primary);
}

.card{
  margin-bottom: 1rem;
}


@media (min-width:600px) {
  .pages{
    display: block;
  }
  .card-head header{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
  }
  .pages > ul{
    display: flex;
    gap: 1rem;
  }
  .container{
    margin-inline: 2rem;
  }

  .btn-primary{
    letter-spacing: 0.1rem;
    font-size: 1rem;
  }
  .card{
    padding: 2rem;
  }

}

@media (min-width:700px) {
  .pages > ul{
    gap: 2rem;
  }

  .main-container{
    width: min(100% , 40rem);
    margin: auto;
  }

}



@media (min-width:900px) and (max-width:1100px){

  .container{
    margin-inline: 4rem;
  }
  .card{
    padding: 3rem;
  }

  
  .main-container{
    width: min(100% , 50rem);
    margin: auto;
  }
}

@media (min-width:1100px) {
  .card{
    padding: 3rem;
  }

  
  .container{
    margin-inline: 8rem;
  }
  
  .main-container{
    width: min(100% , 50rem);
    margin: auto;
  }

}

@media (min-width:1500px){
  .container{
    width: min(100% , 60rem);
    margin: auto;
  }
}
.view__post a{
  padding: 1rem;
}


.view__post a:hover {
  
  background-color: rgba(94, 94, 223, 0.3);
}



.pages a:hover{
  color: var(--btn-primary);
}