<section class="card box-shadow">
    <div class="card-head">
        <header>
            <h1>Sich Entscheiden <sup>adj</sup> </h1>
            <span class="box post-language">german</span>
        </header>
        <div>
            <app-like></app-like>
        </div>
    </div>

    <hr>

    <div class="card-body">
        <p>
            Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Aperiam, tenetur quasi
            nemo placeat omnis, totam atque veniam
            corporis neque dolorem nisi veritatis fuga
            et eaque quod magnam nihil officiis! Fuga?
        </p>
    </div>
    <hr>
    <div class="card-footer">
        <div class="profile">
            <span>username</span>
            <span>posted on: 24/01/2014</span>
        </div>

        <div class="extreme-right">
            <div class="view__post">
                <a href="#">
                    View Post
                    <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>